Unattended-Upgrade::Origins-Pattern {
{% if auto_updates_apt_origins | length > 0 %}
{%   for origin in auto_updates_apt_origins %}
    "{{ origin }}";
{%   endfor %}
{% else %}
    "origin=${distro_id},codename=${distro_codename},label=${distro_id}";
    "origin=${distro_id},codename=${distro_codename}-security,label=${distro_id}-Security";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {
{% for package_name in auto_updates_apt_package_blacklist %}
    "{{ package_name }}";
{% endfor %}
};

Unattended-Upgrade::Automatic-Reboot "{{ 'true' if auto_updates_apt_auto_reboot else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ auto_updates_apt_auto_reboot_time }}";
